.Header {
    background: url("../../assets/HeaderImg1.jpg") no-repeat center center fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    .logo {
        display: flex;
        height: 60%;
        align-self: center;
    }
}